*{
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

body{margin: 0;
        background-color: rgb(13, 13, 13);
        overflow-y: scroll;
}

a{color:currentColor;
    text-decoration: none;
}