.video1, .video2, .video3, .video4, .video5, .video6, .video7, .video8, .video9{padding-top:110px;
    padding-left:250px;
img{width:535px;
    height: 270px;
    border-radius: 10px;
    }
}

.video{display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 150px);
  color:white;
  row-gap: 220px;
  column-gap: 250px;
}

.pvideo{white-space: nowrap;
        font-size: 18px;
        padding-bottom: 50px;
}