body{margin: 0;

}

header{display: flex;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 70px;
            margin-top: ;
}

.YouTubeButton{color: white;
                padding: 0%;
                margin: 10px;
                font-size: 24px;
}