body{margin: 0;
        background-color: rgb(13, 13, 13);
}

/* Верхнє меню */
header{display: flex;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100wh;
        height: 70px;
        position: relative;
}

/* Кнопка з логотипом (основна) */
.YouTubeButton{color: white;
                display: flex;
                align-items: center;
                font-size: 24px;
}
a{color:currentColor;
    text-decoration: none;
}

/* Пошук з кнопкою */
.SearchBarCentre{position: absolute;
                top:22%;
                left:35%;
}
.SearchBar{display: flex;
           position: relative;
           width: 570px;
           height: 39px;
           overflow: hidden;
           border-radius: 15px;
           border:1px solid rgb(37, 37, 37);
}
.SearchBar input{flex: 1;
                    border: none;
                    background-color: rgb(18, 18, 18);
                    color:white;
                    font-size: 20px;    
}
.SearchBar button{border: none;
                    background-color: rgb(39, 39, 39);
                    position: absolute;
                    left: 515px;
                    height: 100%;
                    width: 55px;
                    cursor: pointer;
                    color:white;
}
::placeholder{color:rgb(215, 215, 215);
                font-size: 16px;
}




