body{margin: 0;
}

header{display: flex;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 70px;
        margin-top: ;
}

.YouTubeButton{color: white;
                padding-top: 5px;
                margin: 10px;
                font-size: 24px;
}

input{width:350px;
        height:29px;
        border-radius:20px;
        border:1px solid rgb(91, 91, 91);
        background-color: rgb(36, 36, 36);
}

::placeholder{color:rgb(215, 215, 215);
                font-size: 16px;
}